<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <h2>
       <!-- {{student_list}} -->
       {% for s in student_list%}
       {% comment %} {{s.roll}} {% endcomment %}
      <li><a href="{% url 'studetail' s.id %}">{{s.name}}</a></li>
       {% comment %} {{s.course}} {% endcomment %}
       <br>
       {% endfor %}
    </h2>
</body>
</html>